# TeraiD Pay API のベース URL
NEXT_PUBLIC_TERAID_PAY_API_BASE_URL=http://localhost:8005

# WalletConnect の Project ID
# https://cloud.walletconnect.com/ で取得した値を設定してください。
NEXT_PUBLIC_WALLET_CONNECT_PROJECT_ID=d5c0379c278edaf15fba65a3d4cedd31

# Ethereum Sepolia の RPC URL
NEXT_PUBLIC_RPC_URL_ETHEREUM_SEPOLIA=https://ethereum-sepolia-rpc.publicnode.com

# Avalanche Fuji の RPC URL
NEXT_PUBLIC_RPC_URL_AVALANCHE_FUJI=https://avalanche-fuji-c-chain-rpc.publicnode.com

# Polygon Amoy の RPC URL
NEXT_PUBLIC_RPC_URL_POLYGON_AMOY=https://rpc-amoy.polygon.technology

# JPYC トークンコントラクトアドレス
NEXT_PUBLIC_JPYC_TOKEN_ADDRESS=0xE7C3D8C9a439feDe00D2600032D5dB0Be71C3c29
NEXT_PUBLIC_JPYC_TOKEN_ADDRESS_ETHEREUM_MAINNET=0x431D5dfF03120AFA4bDf332c61A6e1766eF37BDB
NEXT_PUBLIC_JPYC_TOKEN_ADDRESS_POLYGON_MAINNET=0x431D5dfF03120AFA4bDf332c61A6e1766eF37BDB
